<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>Beste Aydemir</title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta name="author" content="Beste Aydemir" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="style.css" />
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;margin-right:auto;margin-left:auto;">
    <tr>
      <td>
        <table style="width:100%;border:0px;border-spacing:0px;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>Beste Aydemir</h1>
              <p>I am an MSc student in Data Science at Ludwig-Maximilian University of Munich.</p>
              <p>I have a BSc in Electrical and Electronics Engineering from Bilkent University.</p>
              <p style="text-align:center">
                <a target="_blank" href="https://mailhide.io/e/1AzQKiqM">Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/besteaydemir">GitHub</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/besteaydemir/">LinkedIn</a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="photos/me.jpg">
            </td>
          </tr>
        </table>

        <!-- Projects Section -->
        <h2>Projects</h2>
        <table style="width:100%;border-spacing:0px;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="photos/streaming_drive.png" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <strong>Autonomous Driving LLM-based Agent in Streaming Videos</strong>
              <br/>
              <a href="project_page_link" style="color:darkblue;">Project Page</a> | <a href="arxiv_link" style="color:darkblue;">ArXiv</a>
              <ul>
                <li>Utilized multimodal models such as InstructBLIP and Video-Llava for in-context learning on driving datasets using PyTorch.</li>
                <li>Implemented memory systems for LLM agents in streaming environments.</li>
                <li>Leveraged LRZ AI server for faster training and inference.</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="photos/adlr.png" alt="ADLR Project Image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <strong>Diffusion Robot Path Planning</strong>
              <br/>
              <a href="project_page_link" style="color:darkblue;">Project Page</a> | <a href="arxiv_link" style="color:darkblue;">ArXiv</a>
              <ul>
                <li>Developed a diffusion model for 2D and 3D path generation using PyTorch.</li>
                <li>Trained models using Google Cloud Engine with CUDA for enhanced performance.</li>
                <li>Researched diffusion-based modeling papers to improve the project.</li>
              </ul>
            </td>
          </tr>
        </table>

        <!-- Experience Section -->
        <h2>Experience</h2>
        <table style="width:100%;border-spacing:0px;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="photos/huawei.png" alt="Huawei Logo" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <strong>Huawei Munich Research Center</strong> <br/>
              Student Worker (November 2024 - April 2025)
              <ul>
                <li>Developed neurocomputational reinforcement models for behavioral analysis in the Morris Water Maze experiment.</li>
                <li>Featured a computational model poster at the European Brain and Behaviour Society (EBBS) Meeting.</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="photos/fraunhofer.png" alt="Fraunhofer Logo" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <strong>Fraunhofer</strong> <br/>
              Student Worker (Nov 2023 - Nov 2024)
              <ul>
                <li>Worked on Multi-Agent Reinforcement Learning, focusing on decentralized planning and control approaches.</li>
                <li>Developed Graph Neural Networks for decentralized control of multi-agent systems.</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="photos/uoe.png" alt="UoE Logo" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <strong>The University of Edinburgh</strong> - Edinburgh, Scotland<br/>
              Student Researcher (June 2020 - April 2024, Online)
              <ul>
                <li>Developed neurocomputational reinforcement models for behavioral analysis in the Morris Water Maze experiment.</li>
                <li>Featured a computational model poster at the European Brain and Behaviour Society (EBBS) Meeting.</li>
              </ul>
            </td>
          </tr>
        </table>

        <!-- Footer Section -->
        <table style="width:100%;border-spacing:0px;margin-right:auto;margin-left:auto;">
          <tr>
            <td>
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
